body {
	background-color: #1587BC;
	/*
	background-image: url('images/image.jpg'); 
	/*
	font-family: 'Comic Sans MS', cursive; /* font */
	margin: 0; /* remove the invis gap around edges of screen */
}

h1 {
	/* i moved the website name to the middle */
	text-align: center;
	
}



a { /* for the links between the homepage, the information page, and the classes page */
	font-size: 28px;
	color:aqua;
	text-decoration: none;

}
a:hover { /* if hovering over the page linker, do smth */
	color: beige;
	cursor: grab;
	letter-spacing: 4px;
	text-decoration: line-through;
}

#netlify-badge {
	display: none !important;
}


button { /* what button? */
	font-size: 50px;
	background-color: blueviolet;
	font-family: Comic Sans MS, cursive;
}
button:hover { /* why is there a button? */
	background-color: aqua;
	font-size: 200px;
	letter-spacing: 200px;
}

h1 {
	font-family: Comic Sans MS, cursive;
}

.liner {
	background-color: black;
	color: white;
	padding: 20px;
	text-align: center;
	
}

.smlheader {
	text-align: center; /* to align the text */
	font-size: 30px;	/* to size the text */
	padding-top: 5px;	/* to space out the text between others */
	font-family: 'Playfair Display', serif;
}

.smlerheader {
	text-align: center;
	font-size: 28px;
	padding-top: 5px;
	font-family: 'Playfair Display', serif;
}

.evnsmlerheader {
	text-align: center;
	font-size: 24px;
	padding-top: 5px;
	font-family: 'Playfair Display', serif;
}

.ps {
	text-align: center;
	font-size: 18px;
	padding-top: 10px;	
}